@page "/chat"
@using Microsoft.AspNetCore.Authorization

@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject HttpClient _client
@attribute [Authorize]

<h3>Chat</h3>

<EditForm Model="CurrentMessage" OnSubmit="SendMessage">
    <div>
        <label>Message</label>
        <InputTextArea class="form-control" @bind-Value="CurrentMessage.Message"></InputTextArea>
    </div>
    <button class="btn btn-primary mt-2">Send</button>
</EditForm>

<hr class="mt-1 mb-1"/>

<ul class="container list-unstyled">
    <Virtualize Items="AllMessages.OrderByDescending(m=>m.TimeSent.ToLocalTime()).ToList()" Context="message">
        <li class="p-2 mb-1">
            <label class="lh-sm"> <span class="oi oi-person"></span>@message.Name - @message.TimeSent.ToLocalTime().ToString("HH:mm")</label>
            <h4 class="pinkaroo text-light rounded-3 p-2 mb-1">@message.Message</h4>
        </li>
    </Virtualize>
</ul>
