@page "/chat"

@inject NavigationManager _navigationManager

<h3>Chat</h3>

<EditForm Model="CurrentMessage" OnSubmit="SendMessage">
    <div>
        <label>Name</label>
        <InputText class="form-control" @bind-Value="CurrentMessage.Name"></InputText>
    </div>
    <div>
        <label>Message</label>
        <InputTextArea class="form-control" @bind-Value="CurrentMessage.Message"></InputTextArea>
    </div>
    <button class="btn btn-primary mt-2">Send</button>
</EditForm>

<hr class="mt-1 mb-1"/>

<ul class="container">
    <Virtualize Items="AllMessages.OrderByDescending(m=>m.TimeSent).ToList()" Context="message">
        <li class="col card border-2">
            <label class="card-header bg-dark text-info text-start">@message.Name</label>
            <p class="card-body mb-0 bg-secondary text-warning text-center">@message.Message</p>
            <label class="card-footer bg-dark text-info text-end">@message.TimeSent.ToString("HH:mm")</label>
        </li>
    </Virtualize>
</ul>
