@page "/demo"
@using BlazorLiveDemo.Shared

@inject HttpClient _client;

<h3>Demo</h3>
<button class="btn btn-info" @onclick="OnClicked">Click Me! </button>
<h1>@counter</h1>

<Virtualize Items="Names" Context="name">
    <h3>@name</h3>
</Virtualize>

<EditForm Model="CurrentPerson" OnSubmit="SavePerson">
    <InputText @bind-Value="CurrentPerson.Name"></InputText>
    <InputNumber @bind-Value="CurrentPerson.Age"></InputNumber>
    <button class="btn btn-secondary">Save</button>
</EditForm>

<Virtualize Items="People.OrderBy(p=>p.Age).ToList()" Context="person">
    <div class="card">
        <div class="card-header">@person.Name</div>
        <div class="card-body">@person.Age</div>
    </div>
</Virtualize>

@code {
    int counter;

    List<string> Names { get; set; } = new () {"Peter", "Casandra", "Anna"};

    List<Person> People { get; set; } = new();
    Person CurrentPerson { get; set; } = new ("", 0);

    private void OnClicked()
    {
        counter++;
    }

    private async Task SavePerson()
    {
        await _client.PostAsJsonAsync<Person>("addPerson",CurrentPerson);
        var response = await _client.GetFromJsonAsync<IEnumerable<Person>>("allPeople");
        People = response.ToList();
        CurrentPerson = new Person("", 0);
    }

}
