@page "/demo"
@using BlazorLiveDemo.Shared

@inject HttpClient _client;

<h3>Demo</h3>
<button class="btn btn-info" @onclick="OnClicked">Click Me! </button>
<h1>@counter</h1>

<Virtualize Items="Names" Context="name">
    <h3>@name</h3>
</Virtualize>

<EditForm Model="CurrentPerson" OnSubmit="SavePerson">
    <InputText @bind-Value="CurrentPerson.Name"></InputText>
    <InputNumber @bind-Value="CurrentPerson.Age"></InputNumber>
    <button class="btn btn-secondary">Save</button>
</EditForm>

<Virtualize Items="People.OrderBy(p=>p.Age).ToList()" Context="person">
    <div class="card">
        <div class="card-header">@person.Name</div>
        <div class="card-body">@person.Age</div>
    </div>
</Virtualize>